.add-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 235px;
  height: 297px;
  border: 2px dotted #000;
  border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  background: #f8f9fa;
}

.plus-sign {
  font-size: 68px;
  color: #007bff;
}
