
<div class="container mt-5">
  <div class="d-flex align-items-center">
    <button
      class="btn btn-primary me-2"
      [ngStyle]="{display: submissionInProgress ? 'none': 'block'}"
      (click)="submitForms()"
      [disabled]="mainForm.invalid || mainForm.status == 'PENDING' ||  formArray.length == 0 || submissionInProgress || isInvalidFormsVisible || (formArray.length == 1 && mainForm.invalid)">
      Submit all forms
    </button>
    <div *ngIf="isInvalidFormsVisible">
      <app-invalid-forms-count [formControl]="invalidFormsCountControl"></app-invalid-forms-count>
    </div>
  </div>
  <div *ngIf="submissionInProgress" class="mt-3 d-flex align-items-center">
    <button class="btn btn-danger" (click)="cancelSubmission()">Cancel</button>
    <app-progress-bar></app-progress-bar>
    <span>{{ timer| timer }} {{timer > 1 ? 'seconds' : 'second'}}</span>
  </div>

  <div class="mt-4">
    <div class="row">
      <div class="col-12">
        <div class="grid-container gap-3" [ngStyle]="{pointerEvents: submissionInProgress ? 'none' : 'all'}">
          <div *ngFor="let formGroup of formArray.controls; let id = index">
            <app-form-card [formGroup]="formGroup" [index]="id + 1" (remove)="removeForm(id)"></app-form-card>
          </div>
          <div class="add-card">
            <app-add-card [disabled]="submissionInProgress || formArray.length >= 10" (addForm)="addForm()" ></app-add-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
